<div class="container text-center">
    <div class="jumbotron">
        <h1 class="text-center">PareBem</h1>
    </div>
    <div class="panel panel-default">
            <div class="panel-heading">
                
                <h3>Criar evento</h3> 
                
            </div>

            <div class=panel-body>
               
                <form [formGroup]="formularioEvento" (submit)="cadastrarEvento()">
                    <div class="form-group">
                        <label>Local:</label>
                        <input formControlName="local" class="form-control" placeholder="digite o local" />
                    </div>
                    <div class="form-group">
                        <label>Limite de convidados:</label>
                        <input formControlName="limite_convidados" class="form-control" type="number" placeholder="digite o limite máximo" />
                    </div>
                    <div class="form-group">
                        <label>Data:</label>
                        <input formControlName="momento" class="form-control" type="datetime-local" placeholder="Digite a data do evento" />
                    </div>
                    <Button [disabled]="formularioEvento.invalid" type="submit" class="btn btn-primary" >Criar Evento</Button>
                </form>
               
            </div>
    </div> <!-- fim da panel -->

        
</div> <!-- fim container -->    