<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
    
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="criarUsuarios">Criar usuário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="criarEventos">Criar evento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cadastrarUsuarioEvento">Cadastrar em evento</a>
        </li>
    </ul> 

    <div class="ml-auto my-2 my-lg-0">
        <a class="nav-link" (click)="desautenticar()" href="" >Sair</a>
    </div>
</nav>