<pb-nav></pb-nav>

<div class="row mt-3">
        <div class="col-6">
                <div class="text-center">
                    Listar usuários
                </div>
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">nome</th>
                      <th scope="col">telefone</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of this.users">
                      <th scope="row">{{user.user_id}}</th>
                      <td>{{user.name}}</td>
                      <td>{{user.telephone}}</td>
                    </tr>
                   
                   
                  </tbody>
                </table>
            </div><!-- fim da div usuarios-->

            <div class="col-6">
                    <div class="text-center">
                        Listar eventos
                    </div>
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Estado</th>
                          <th scope="col">local</th>
                          <th scope="col">limite máximo</th>
                          <th scope="col">data vencimento</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of this.events">
                          <td>{{event.state}}</td>
                          <td>{{event.place}}</td>
                          <td>{{event.guestLimit}}</td>
                          <td>{{event.expirationMoment | date: 'hh:mm a, dd/MM/yyyy'}}</td>
                        </tr>
                       
                       
                      </tbody>
                    </table>
                </div> <!-- fim da div eventos-->

</div>

